<%- include ('partials/header') %>

<div class="uk-container">
    <h1 class="uk-text-center">IPSSI - Node JS</h1>

    <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s" uk-grid>
        <% if (articles.length) { %>
            <% articles.forEach(article => { %>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="<%= article.photo %>?v=<%= Math.floor(Math.random() * 294720472)  %>" style="width: 100%;">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title"><%= article.title %></h3>
                            <a href="/article/<%= article._id %>" class="uk-button uk-button-small uk-button-primary">
                                Lire l'article
                            </a>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>
</div>

<%- include ('partials/footer') %>