<%- include ('../partials/header') %>

<div class="uk-container">
    <div class="uk-cover-container uk-height-medium">
        <img src="<%= article.photo %>" uk-cover>
    </div>

    <article class="uk-article uk-margin-top">
        <h1 class="uk-article-title"><%= article.title %></h1>
        <p class="uk-article-meta">Auteur : <%= article.user !== null ? article.user.lastname + ' ' + article.user.firstname : 'Auteur Anonyme' %></p>
        <p><%= article.description %></p>
    </article>

    <a href="/" class="uk-button uk-button-default uk-button-small uk-margin-top">
        Retour à l'accueil
    </a>
</div>

<%- include ('../partials/footer') %>